.card-content .explore a {
    margin-top: 70px;
}
.card-content .explore {
    display: flex;
    justify-content: space-around;
    gap: 200px;
}
.card-content .visite-content {
    background-image: url(../image/13.png);
    background-repeat: no-repeat;
    background-size: auto;
}
.title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 40px;
}

.banner {
    position: relative;
    width: 100%;
    height: 420px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}
/* Texte */
.left {
    position: relative;
    z-index: 1;
    max-width: 45%;
}

.left p {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 30px;
}

.left button {
    background: #000;
    color: #fff;
    border: none;
    padding: 15px 34px;
    border-radius: 999px;
    font-size: 16px;
    cursor: pointer;
}

.left button:hover {
    background: #333;
}

/* Image personne */
.right {
    position: relative;
    z-index: 1;
}

.right img {
    height: 360px;
}