.card-content .explore a {
    margin-top: 70px;
}
.card-content .explore {
    display: flex;
    justify-content: space-around;
    gap: 200px;
}
.card-content .visite-content {
    background-image: url(../image/13.png);
    background-repeat: no-repeat;
    background-size: auto;
}
.title {
    font-size: 52px;
    font-weight: 600;
    margin-bottom: 40px;
}

.banner {
    position: relative;
    width: 100%;
    height: 420px;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px;
}
/* Texte */
.left {
    position: relative;
    z-index: 1;
    max-width: 45%;
}

.left p {
    font-size: 26px;
    font-weight: 500;
    line-height: 1.4;
    margin-bottom: 30px;
}

.left button {
    background: #000;
    color: #fff;
    border: none;
    padding: 15px 34px;
    border-radius: 999px;
    font-size: 16px;
    cursor: pointer;
}

.left button:hover {
    background: #333;
}

/* Image personne */
.right {
    position: relative;
    z-index: 1;
}

.right img {
    height: 360px;
}
.apple {
    text-align: center;
}
.apple .row {
    justify-content: center;
    display: flex;     
    flex-wrap: wrap;  
}
.apple .card img {
    display: block;
    margin: 0 auto;
}
.iphone {
    text-align: center;
}
.iphone .row {
    display: flex;
    justify-content: center;
}
.incontournable .tete {
    display: flex;
    justify-content: space-evenly;
}
.incontournable .tete a {
    margin-top: 50px;
}
.accessoires .row {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.iphone-mac .row p {
    width: 50%;
}
.iphone-mac .card-content .row .l6 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.iphone-mac .card-content h4 {
    margin-left: 150px;
    position: relative;
    top: 80px;
}